.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.idea

.vercel
.vercel_build_output
yarn.lock
package-lock.json

# Logs
*.log

# Browserify
# static/wallets.js

# Testing
src/routes/test/*

.todo