@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import 'button.css';
@import 'input.css';
@import 'scrollbar.css';
@import 'select.css';
@import 'separator.css';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Utils */
.stretch-child > * {
	width: 100%;
	height: 100%;
}

.transition-btn:not(:disabled) {
	@apply transition-transform duration-200 transform active:scale-95;
}

.gradient-text {
	@apply bg-gradient-to-r from-color-purple to-color-blue text-transparent bg-clip-text;
}

.text-color-gradient {
	@apply text-transparent;
	background: linear-gradient(88.5deg, #7300df -2.19%, #ad55ff 28.34%, #88eaff 126.89%);
	background-clip: text;
}

.gradient-stroke {
	background: linear-gradient(to right, #868bf7, #6cc7f8);
	@apply bg-clip-text font-extrabold;
	-webkit-text-stroke: 4px transparent;
}

.clickable {
	@apply transition-transform duration-200 transform active:scale-95 cursor-pointer;
}

#WEB3_CONNECT_MODAL_ID {
	@apply z-[1000];
}
