.btn {
	@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap font-medium;
	@apply cursor-pointer disabled:opacity-50 disabled:cursor-default;
}

.btn:disabled {
	@apply active:scale-100;
}

.btn-rounded {
	@apply rounded-full px-8 py-3;
}

.btn-shadow {
	box-shadow: 0px 2px 10px rgba(122, 122, 122, 0.2);
}

.btn-gradient {
	@apply bg-gradient-to-r from-color-purple to-color-blue !text-white;
}

.btn-black {
	@apply bg-color-black text-white font-semibold;
}

.btn-outline {
	@apply border border-color-black;
}

.btn-disabled-effect {
	@apply disabled:opacity-50;
}

.btn-gradient-border {
	background: linear-gradient(white, white) padding-box, linear-gradient(to right, #868bf7, #6cc7f8) border-box;
	@apply border-transparent border-2;
}

.border-gradient {
	border-image: linear-gradient(45deg, #868bf7, #6cc7f8) 1;
	@apply border-solid border-2;
}
/* Duplicate CSS code, because applying btn class does not work. >_< */
@layer components {
	.btn-primary {
		@apply btn-disabled-effect btn-gradient btn-rounded uppercase;
		@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap;
		@apply cursor-pointer disabled:opacity-50;
	}

	.btn-secondary {
		@apply btn btn-disabled-effect btn-outline btn-rounded uppercase;
		@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap;
		@apply cursor-pointer disabled:opacity-50;
	}
}
