.btn {
	@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap font-medium;
	@apply cursor-pointer disabled:opacity-50 disabled:cursor-default;
}

.btn-rounded {
	@apply rounded-full px-8 py-3;
}

.btn-gradient {
	@apply bg-gradient-to-r from-color-purple to-color-blue text-white;
}

.btn-black {
	@apply bg-color-black text-white font-semibold;
}

.btn-outline {
	@apply border border-color-black;
}

.btn-disabled-effect {
	@apply disabled:opacity-50;
}

/* Duplicate CSS code, because applying btn class does not work. >_< */
@layer components {
	.btn-primary {
		@apply btn-disabled-effect btn-gradient btn-rounded uppercase;
		@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap;
		@apply cursor-pointer disabled:opacity-50;
	}

	.btn-secondary {
		@apply btn btn-disabled-effect btn-outline btn-rounded uppercase;
		@apply transition-transform duration-200 transform active:scale-95 whitespace-nowrap;
		@apply cursor-pointer disabled:opacity-50;
	}
}
